Diapositivas/Semana_1v1.pdf
Diapositivas/sesion2v1.pdf
EscalaDeValores.pdf
Reportes Articulos/1/Resumen_artículo1.aux
Reportes Articulos/1/Resumen_artículo1.bbl
Reportes Articulos/1/Resumen_artículo1.blg
Reportes Articulos/1/Resumen_artículo1.dvi
Reportes Articulos/1/Resumen_artículo1.log
Reportes Articulos/1/Resumen_artículo1.out
Reportes Articulos/1/Resumen_artículo1.synctex.gz
Reportes Articulos/1/New sequential and parallel algorithms for computing the b-spectrum.pdf
Diapositivas/Grid(1).pdf
Diapositivas/ArquitecturaGPUs.pdf
Diapositivas/PresentacionOpenMP.pdf
Diapositivas/introduccion_mpi.pdf
Reportes Articulos/2/Resumen_artículo2.aux
Reportes Articulos/2/Resumen_artículo2.bbl
Reportes Articulos/2/Resumen_artículo2.blg
Reportes Articulos/2/Resumen_artículo2.log
Reportes Articulos/2/Resumen_artículo2.out
Reportes Articulos/2/Resumen_artículo2.synctex.gz
Reportes Articulos/2/From evolutionary computation to the evolution of things.pdf
Glosario/Glosario.aux
Glosario/Glosario.log
Glosario/Glosario.out
Glosario/Glosario.synctex.gz
Diapositivas/Repaso_ModeloHibrido.pdf
Diapositivas/presentacion_CUDA.pdf
Reportes Articulos/3/ Parallelizing Motion JPEG 2000 with CUDA .pdf
Reportes Articulos/3/Resumen_artículo3.aux
Reportes Articulos/3/Resumen_artículo3.bbl
Reportes Articulos/3/Resumen_artículo3.blg
Reportes Articulos/3/Resumen_artículo3.log
Reportes Articulos/3/Resumen_artículo3.out
Reportes Articulos/3/Resumen_artículo3.synctex.gz
Aplicacion/In-vivo Optical Tomography of Small Scattering Specimens: time-lapse 3D imaging of the head eversion .pdf
Aplicacion/Solar flare detection system based on tolerance near sets in a GPU–CUDA framework.pdf
Ejercicios/CUDA/nohup.out
Proyecto/Documento/Proyecto_Camilo_Rivera.aux
Proyecto/Documento/Proyecto_Camilo_Rivera.log
Proyecto/Documento/Proyecto_Camilo_Rivera.out
Proyecto/Documento/Proyecto_Camilo_Rivera.tcp
Proyecto/Documento/Proyecto_Camilo_Rivera.toc
Proyecto/Documento/Proyecto_Camilo_Rivera.tps
Diapositivas/AplicacionesHPC.pdf
Diapositivas/Rendimiento.pdf
Diapositivas/SharedMemory.pdf
Diapositivas/presentacion_CUDAv1.pdf
Diapositivas/ResumenCUDA(1).pdf

Proyecto/Documento/Proyecto_Camilo_Rivera.bbl
Proyecto/Documento/Proyecto_Camilo_Rivera.blg
Proyecto/Documento/Proyecto_Camilo_Rivera.brf
Proyecto/Documento/Proyecto_Camilo_Rivera.synctex.gz
