Diapositivas/Semana_1v1.pdf
Diapositivas/sesion2v1.pdf
EscalaDeValores.pdf
Reportes Articulos/1/Resumen_artículo1.aux
Reportes Articulos/1/Resumen_artículo1.bbl
Reportes Articulos/1/Resumen_artículo1.blg
Reportes Articulos/1/Resumen_artículo1.dvi
Reportes Articulos/1/Resumen_artículo1.log
Reportes Articulos/1/Resumen_artículo1.out
Reportes Articulos/1/Resumen_artículo1.synctex.gz
Diapositivas/Grid(1).pdf
Diapositivas/ArquitecturaGPUs.pdf
Diapositivas/PresentacionOpenMP.pdf
Diapositivas/introduccion_mpi.pdf
Reportes Articulos/2/Resumen_artículo2.aux
Reportes Articulos/2/Resumen_artículo2.bbl
Reportes Articulos/2/Resumen_artículo2.blg
Reportes Articulos/2/Resumen_artículo2.log
Reportes Articulos/2/Resumen_artículo2.out
Reportes Articulos/2/Resumen_artículo2.synctex.gz
Glosario/Glosario.aux
Glosario/Glosario.log
Glosario/Glosario.out
Glosario/Glosario.synctex.gz

